[submodule "Atago"]
	path = Atago
	url = https://github.com/Tsukugi/Atago.git
[submodule "Takao"]
	path = Takao
	url = https://github.com/Tsukugi/Takao.git
[submodule "Choukai"]
	path = Choukai
	url = https://github.com/Tsukugi/Choukai.git
[submodule "Maya"]
	path = Maya
	url = https://github.com/Tsukugi/Maya.git
[submodule "Noshiro"]
	path = Noshiro
	url = git@github.com:Tsukugi/Noshiro.git
	branch = main
